<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.tedu.cloudnote.dao.ShareDao">
    <insert id="save" parameterType="com.tedu.cloudnote.entity.Share">
    	insert into cn_share values(#{cn_share_id},#{cn_share_title},#{cn_share_body},#{cn_note_id})
    </insert>
    <select id="findByTitle" parameterType="map" resultType="com.tedu.cloudnote.entity.Share">
    	select * from cn_share where cn_share_title like #{name} limit #{start},#{pageSize}
    </select>
    <select id="findById" parameterType="string" resultType="com.tedu.cloudnote.entity.Share">
    	select * from cn_share where cn_share_id=#{id}
    </select>
 </mapper>